<!--
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="WPF.System.AppConfig.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
-->
<configuration>
  <configSections>
    <section name="AB_AttachmentManager" type="A4DN.Core.BOS.DataController.AB_GenericXmlSectionHandler, A4DN.Core.BOS.DataController, Culture=neutral, PublicKeyToken=a051f91c03e970af" />
    <section name="AB_ImagePaths" type="A4DN.Core.BOS.DataController.AB_GenericXmlSectionHandler, A4DN.Core.BOS.DataController, Culture=neutral, PublicKeyToken=a051f91c03e970af" />
    <section name="AB_ServiceAndPathCollector" type="A4DN.Core.BOS.DataController.AB_GenericXmlSectionHandler, A4DN.Core.BOS.DataController, Culture=neutral, PublicKeyToken=a051f91c03e970af" />
  </configSections>
  <!-- A4DN_Tag: Define the image paths to be used in locating an image -->
  <AB_ImagePaths type="A4DN.Core.BOS.DataController.AB_ImagePaths, A4DN.Core.BOS.DataController">
    <ImagePaths>
      <AB_ImagePath ap_Path="/A4DN.Core.WPF.Base;component/ImagesLineFlat2020/" ap_16PixelImageSuffix="_small" ap_24PixelImageSuffix="_small" ap_32PixelImageSuffix="_small" ap_48PixelImageSuffix="_medium" ap_128PixelImageSuffix="_large" />
      <AB_ImagePath ap_Path="/WPF.OrderManagement.Shared;component/images/" />
    </ImagePaths>
  </AB_ImagePaths>
  <AB_AttachmentManager type="A4DN.Core.BOS.DataController.AB_AttachmentManager, A4DN.Core.BOS.DataController" ap_Enabled="true">
    <AB_StorageServerURIs>
      <AB_StorageServerURI ap_AttachmentType="Attachment" ap_StorageServerURI="file://\temp\Attachment+Repository" />
      <!--<AB_StorageServerURI ap_AttachmentType="Attachment" ap_StorageServerURI="file://\\SERVERNAME\devshare\Attachment+Manager+Repository"/>-->
      <!--<AB_StorageServerURI ap_AttachmentType="Attachment" ap_StorageServerURI="http://1.1.1.1/storage" ap_Username="..." ap_Password="..."/>-->
    </AB_StorageServerURIs>
  </AB_AttachmentManager>
  <!-- A4DN_Tag: This section contains the contract type names, paths, process names, and min + max num of remote processes to start of the Service Agents.  There is one service agent defined per BUS -->
  <AB_ServiceAndPathCollector type="A4DN.Core.BOS.DataController.AB_ServiceAndPathCollector, A4DN.Core.BOS.DataController">
    <RemoteDiServiceDefinitions>
      <AB_ServiceAndPath ap_IServiceFullname="BOS.OrderManagementLAXServiceAgent.IOrderManagementLSA" ap_ServicePath="C:\Surround\EasyBuyCycles\DB2Legacy\OrderManagement\BOS.OrderManagementLAXServiceAgentHost\bin\Debug\BOS.OrderManagementLAXServiceAgentHost.exe" ap_ExecutableName="BOS.OrderManagementLAXServiceAgentHost" ap_MinDiServers="1" ap_MaxDiServers="10" />
      <AB_ServiceAndPath ap_IServiceFullname="A4DN.Core.BOS.LansaServiceAgents.AB_IFrameWorkLansaServiceAgent" ap_ServicePath="C:\Program Files\Accelerator for .NET\Master\Core\DotNet\FrameworkLansaServiceAgentHost.exe" ap_ExecutableName="FrameworkLansaServiceAgentHost" ap_MinDiServers="1" ap_MaxDiServers="10" />
    </RemoteDiServiceDefinitions>
  </AB_ServiceAndPathCollector>
  <appSettings>
    <add key="UniqueSystemNameForRemoteServiceAgent" value="OrderManagementWCF" />
    <add key="FrameworkDalType" value="MSSql" />
    <add key="DataDALType" value="ISeries" />
    <add key="SystemNumber" value="1" />
    <add key="MaxNumRecordsToGetFromServer" value="100" />
    <add key="ImageExtension" value=".png" />
    <add key="UseNonCrypticComponentNames" value="True" />
    <!--Version, Company, and Copyright for Splash Screen -->
    <add key="Version" value="Version 1.0.0.0" />
    <add key="Copyright" value="All Rights Reserved. Copyright © 2024" />
    <add key="Company" value="EasyBuy Cycles Distributors" />
    <add key="CopyrightWarning" value="Warning: Order Management is protected by copyright law and international treaties. Unauthorized reproduction or distribution of this program, or any portion of it, may result in severe civil and criminal penalties, and will be prosecuted to the maximum extent possible under the law." />
    <!--Logging Settings -->
    <add key="Logging.Enabled" value="true" />
    <add key="Logging.AssemblyName" value="A4DN.Core.BOS.Logging.dll" />
    <add key="Logging.ClassName" value="A4DN.Core.BOS.Logging.AB_NLogLogger" />
    <add key="Logging.LoggerLevel" value="Error" />
    <add key="Logging.Async" value="true" />
    <add key="Logging.LogPath" value="%APPDATA%\Accelerator for .NET\Logging\OrderManagement" />
    <!-- Remote Logging Settings -->
    <add key="Logging.RemoteLoggingEnabled" value="True" />
    <add key="Logging.RemoteLogging.UseAsync" value="True" />
    <add key="Logging.RemoteLoggerLevel" value="Error" />
    <!-- Cache Settings-->
    <add key="Cache.Serializer" value="DataContractJson" />
    <add key="Cache.Prefetch" value="true" />
    <add key="Cache.PerformRandomSleeps" value="True" />
    <add key="Cache.RandomSleepMinMS" value="100" />
    <add key="Cache.RandomSleepMaxMS" value="2000" />
    <!-- Filter Settings -->
    <add key="Filter.InlineHighlight" value="true" />
    <add key="Filter.Exclusive" value="true" />
    <add key="Filter.Container" value="Row" />
    <!-- Module Settings -->
    <add key="Module.PagingRange" value="25,50,100,150,250,500,1000,5000" />
    <add key="Module.PagingAllowAll" value="true" />
    <add key="Module.ShowExcelExport" value="true" />
    <add key="Module.AuditStampReadOnly" value="true" />
    <add key="Module.TabControl.AssemblyName" value="A4DN.Core.WPF.Base.dll" />
    <add key="Module.TabControl.ClassName" value="A4DN.Core.WPF.Base.AB_DockingTabControl" />
    <!-- System Settings -->
    <add key="System.KeepAliveInterval" value="50000" />
    <add key="System.TrackUserSessions" value="true" />
    <add key="System.GarbageCollectionIntervalMS" value="50000" />
    <add key="System.EnableRecordLocking" value="true" />
    <add key="System.DisplayLockedRecords" value="true" />
    <add key="System.IgnoreDbColumnWidth" value="false" />
    <add key="System.IgnoreDbColumnDescription" value="true" />
    <add key="System.AutoRefreshRange" value="10,30,60,120,300,600,900" />
    <add key="System.SubBrowserTabRecordCount" value="*ALL" />
    <add key="System.ShowSearchTotalRecordCount" value="true" />
    <add key="Control.AllowNegativeInputByDefault" value="true" />
    <!--Messages -->
    <add key="System.UserToolbarCustomControlIsVisible" value="True" />
    <add key="System.UserToolbarCustomControlAssembly" value="WPF.MSG_Message" />
    <add key="System.UserToolbarCustomControlClass" value="AB_MessageInboxCommandControl" />
    <!-- Image Settings -->
    <add key="System.16PixelImageSuffix" value="_16_16_32" />
    <add key="System.24PixelImageSuffix" value="_24_24_32" />
    <add key="System.32PixelImageSuffix" value="_32_32_32" />
    <add key="System.48PixelImageSuffix" value="_48_48_32" />
    <add key="System.128PixelImageSuffix" value="_128_128_32" />
    <!--User Experience Settings -->
    <add key="DataGrid.CellChangedStyle.BackgroundColor" value="#FFEDC8" />
    <add key="DataGrid.CellChangedStyle.ForegroundColor" value="Black" />
    <add key="Detail.CellChangedStyle.BackgroundColor" value="#FFEDC8" />
    <add key="Detail.CellChangedStyle.ForegroundColor" value="Black" />
    <!--Timeout Values -->
    <!--<add key="DefaultLsaTimeOutInSeconds" value=""/>-->
    <!--<add key="FrameworkLsaTimeOutInSeconds" value="" />-->

	  <!--Google Maps-->
	  <add key="GoogleMaps.Key" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Wpf" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1245.22" newVersion="1.0.1245.22" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1245.22" newVersion="1.0.1245.22" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>