<!--
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="BOS.System.ConnectionParms.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
-->
<configuration>
  <!-- SQL Connection Settings -->
  <sqlSettings>
    <!--Default Server Connection-->
    <serverSelect idref="PRODB" />
    <!--You can specify multiple server connections-->
    <server id="PRODB">
      <add key="ServerType" value="ISeries" />
      <add key="DataSource" value="st8.surroundtech.com" />
      <add key="UserID" value="devin" />
      <add key="Password" value="rfv5tgb" />
      <add key="Collection" value="EasyBuyDem" />
      <!-- IBM i Specific Settings
			 To use a specified Library List
			 Remove the "Collection" key above and use the "LibraryList" and "Naming" keys.
			 Specify *USRLIBL to default to the User Library list.  -->
      <!-- <add key="LibraryList" value="*USRLIBL" /> -->
      <!-- or specify a Library list separated by commas to use those -->
      <!-- <add key="LibraryList" value="MyLib1,MyLib2,..." /> -->
      <!-- IBM i SQL naming must be set to "System". It is defaulted to "SQL" if not specified. -->
      <add key="Naming" value="System" />
      <!-- <add key="CustomConfiguration" value="ApplicationName=MyApplicationName;CheckConnectionOnOpen=true;EnablePrefetch=false"/> -->
    </server>
  </sqlSettings>
</configuration>