<configuration>
  <!-- SQL Connection Settings -->
  <sqlSettings>
    <!--Default Server Connection-->
    <serverSelect idref="MasterDB" />
    <!--You can specify multiple server connections-->
    <server id="MasterDB">
      <add key="ServerType" value="ISeries" />
      <add key="DataSource" value="" />
      <add key="UserID" value="" />
      <add key="Password" value="" />
      <add key="Collection" value="EasyBuyDem" />
      <!-- IBM i Specific Settings
			 To use a specified Library List
			 Remove the "Collection" key above and use the "LibraryList" and "Naming" keys.
			 Specify *USRLIBL to default to the User Library list.  -->
      <!-- <add key="LibraryList" value="*USRLIBL" /> -->
      <!-- or specify a Library list separated by commas to use those -->
      <!-- <add key="LibraryList" value="MyLib1,MyLib2,..." /> -->
      <!-- IBM i SQL naming must be set to "System". It is defaulted to "SQL" if not specified. -->
      <add key="Naming" value="System" />
      <!-- <add key="CustomConfiguration" value="ApplicationName=MyApplicationName;CheckConnectionOnOpen=true;EnablePrefetch=false"/> -->
    </server>
  </sqlSettings>
</configuration>