@model A4DN.Core.MVC.AccountRegistration.AB_AccountForgotPasswordModel

<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                @Html.EditorForModel()
            </div>
        </div>
    </div>
</div>