@*
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="MVC.System.Views._ViewStart.cshtml.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
*@
<!-- PAGE FOOTER -->
<div id="footer" class="navbar-fixed-bottom">
    <div class="row">
        <div class="col-sm-3 hidden-xs">
           <a class="a4dn-footer-left" href="http://www.surroundtech.com/Accelerator" target="_blank">Powered by Accelerator</a>
        </div>
        <div class="col-sm-6 hidden-xs js-ajax-progress-bars" style="padding: 4px;">
            <div class="progress" style="height: 16px;">
                <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
           <a class="a4dn-footer-right" href="http://www.surroundtech.com" target="_blank">Copyright &#169; 2017 Surround Technologies, LLC</a>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->