<!--
	//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="MVC.System.Web.Config.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <!-- Core MVC Configuration -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Application Configuration -->
    <add key="SystemNumber" value="1" />
    <add key="FrameworkCachePath" value="C:\temp\Order Management" />
    <!--Logging Settings -->
    <add key="Logging.Enabled" value="True" />
    <add key="Logging.AssemblyName" value="A4DN.Core.BOS.Logging.dll" />
    <add key="Logging.ClassName" value="A4DN.Core.BOS.Logging.AB_NLogLogger" />
    <add key="Logging.LoggerLevel" value="Error" />
    <add key="Logging.Async" value="True" />
    <add key="Logging.LogPath" value="C:\AcceleratorErrorReports\MVC.OrderManagement" />
    <!-- Remote Logging Settings -->
    <add key="Logging.RemoteLoggingEnabled" value="false" />
    <add key="Logging.RemoteLogging.UseAsync" value="False" />
    <!-- MVC Debugging Control -->
    <add key="ShowStackTrace" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="ShowDebugLog" value="false" />
    <!-- System Settings -->
    <add key="System.TrackUserSessions" value="true" />
    <add key="System.KeepAliveInterval" value="50000" />
    <add key="System.ExcelOutputPath" value="C:\temp\" />
    <add key="config:EnableTiles" value="1" />
    <add key="config:EnableLoader" value="1" />
    <add key="config:Project" value="MVC.OrderManagement" />
    <add key="config:Company" value="" />
    <add key="config:CurrentTheme" value="" />
    <add key="Dal.UseOriginalValueForPrimaryKeyUpdate" value="true" />
    <add key="Dal.UseQuotesWithDB2FileAndFieldNames" value="true" />
    <!-- <add key="DbTrueEquivalentDefault" value="Y" /> -->
    <!-- <add key="DbFalseEquivalentDefault" value="N" /> -->
    <!-- User Registration Configuration -->
    <!--<add key="FrameworkAdminUser" value="" />
      <add key="FrameworkAdminPassword" value="" />
      <add key="Registration.UserGroupID" value="" />
      <add key="Registration.WPFInstallUrl" value="" />
      <add key="Registration.Internal.ToAddress" value =""/>
      <add key="Registration.Internal.ToName" value =""/>
      <add key="Registration.Internal.SendBCC.RegistrationVerify" value="true" />
      <add key="Registration.Internal.SendBCC.RegistrationConfirm" value="true" />
      <add key="Registration.Internal.RegistrationInternalConfirm" value="true" />
      <add key="Registration.Internal.SendBCC.PasswordRecoveryVerify" value="true" />
      <add key="Registration.Internal.SendBCC.UserIDRecoveryVerify" value="true" />-->
    <!-- SMTP Email User Registration Configuration -->
    <!--<add key="Registration.EmailService" value="SMTP" />
      <add key="Registration.VerificationEmailTemplateName" value="~/Views/Shared/_A4DN_EmailVerification.cshtml" />
      <add key="Registration.VerificationEmailTemplate.FromAddress" value ="support@surroundtech.com"/>
      <add key="Registration.VerificationEmailTemplate.FromName" value ="Surround Accelerator Demo Application Support"/>
      <add key="Registration.VerificationEmailTemplate.Subject" value ="Please verify your email (Surround Technologies Accelerator Demo App)"/>
      <add key="Registration.ConfirmationEmailTemplateName" value="~/Views/Shared/_A4DN_EmailUserConfirmation.cshtml" />
      <add key="Registration.ConfirmationEmailTemplate.FromAddress" value ="support@surroundtech.com"/>
      <add key="Registration.ConfirmationEmailTemplate.FromName" value ="Surround Accelerator Demo Application Support"/>
      <add key="Registration.ConfirmationEmailTemplate.Subject" value ="User Registration Complete (Surround Technologies Accelerator Demo App)"/>
      <add key="Registration.PasswordRecoveryEmailTemplateName" value="~/Views/Shared/_A4DN_EmailPasswordRecovery.cshtml" />
      <add key="Registration.PasswordRecoveryEmailTemplate.FromAddress" value ="support@surroundtech.com"/>
      <add key="Registration.PasswordRecoveryEmailTemplate.FromName" value ="Surround Accelerator Demo Application Support"/>
      <add key="Registration.PasswordRecoveryEmailTemplate.Subject" value ="Password reset request (Surround Technologies Accelerator Demo App)"/>
      <add key="Registration.UserIDRecoveryEmailTemplateName" value="~/Views/Shared/_A4DN_EmailUserIDRecovery.cshtml" />
      <add key="Registration.UserIDRecoveryEmailTemplate.FromAddress" value ="support@surroundtech.com"/>
      <add key="Registration.UserIDRecoveryEmailTemplate.FromName" value ="Surround Accelerator Demo Application Support"/>
      <add key="Registration.UserIDRecoveryEmailTemplate.Subject" value ="Username recovery request (Surround Technologies Accelerator Demo App)"/>-->
    <!-- Mandrill Email User Registration Configuration -->
    <!--<add key="Registration.EmailService" value="Mandrill" />
      <add key="Email.Mandrill.ApiKey" value="" />
      <add key="Email.Mandrill.Message.GoogleAnalyticsDomains" value="" />
      <add key="Email.Mandrill.Message.GoogleAnalyticsCampaign" value="" />
      <add key="Registration.VerificationEmailTemplateName" value="" /> 
      <add key="Registration.ConfirmationEmailTemplateName" value="" />
      <add key="Registration.PasswordRecoveryEmailTemplateName" value="" />
      <add key="Registration.UserIDRecoveryEmailTemplateName" value="" />-->
  </appSettings>
  <!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.2" />
			</system.Web>
	-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="" port="" enableSsl="false" defaultCredentials="false" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/sys_account/login" timeout="30" cookieless="UseCookies" slidingExpiration="true" defaultUrl="~/" />
    </authentication>
    <sessionState mode="InProc" cookieless="UseCookies" timeout="40" />
    <!--
			<sessionState mode="Custom" customProvider="AB_LocklessInProcSessionStateStore" cookieless="UseCookies" timeout="40">
			  <providers>
			    <add name="AB_LocklessInProcSessionStateStore" type="A4DN.Core.MVC.Shared.Infrastructure.AB_LocklessInProcSessionStateStore"/>
			  </providers>
			</sessionState>
			-->
    <customErrors mode="Off" defaultRedirect="~/sys_account/error" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
	</system.webServer>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="smartadminsounds">
          <match url="home/sound/(.*)" />
          <action type="Rewrite" url="Content/sound/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>