<!--
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="BOS.System.ServicesConfig.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
-->
<configuration>
  <services EnvironmentID="PRO">
    <system.bp>
      <add key="Address" value="http://localhost:19743/" />
      <add key="ConnectionType" value="WebServices" />
      <add key="Binding" value="BasicHttpBinding" />
      <add key="BindingSecurityMode" value="None" />
      <add key="BindingTransportClientCredentialType" value="None" />
    </system.bp>
    <system.dal>
      <add key="Address" value="http://localhost:19742/" />
      <add key="ConnectionType" value="Direct" />
      <add key="Binding" value="BasicHttpBinding" />
      <add key="BindingSecurityMode" value="None" />
      <add key="BindingTransportClientCredentialType" value="None" />
    </system.dal>
    <accelerator.bp>
      <add key="Address" value="http://services.surroundtech.com/Provisions/SurroundTech_Paul_v8_0_0_0_34881/" />
      <add key="ConnectionType" value="WebServices" />
      <add key="Binding" value="BasicHttpBinding" />
      <add key="BindingSecurityMode" value="None" />
      <add key="BindingTransportClientCredentialType" value="None" />
    </accelerator.bp>
    <accelerator.dal>
      <add key="Address" value="http://services.surroundtech.com/Provisions/SurroundTech_Paul_v8_0_0_0_34881/" />
      <add key="ConnectionType" value="Direct" />
      <add key="Binding" value="BasicHttpBinding" />
      <add key="BindingSecurityMode" value="None" />
      <add key="BindingTransportClientCredentialType" value="None" />
    </accelerator.dal>
  </services>
</configuration>